{% extends 'base.html' %}
{% load staticfiles %}
{%block body%}

<header id="header">
    <section class="section container">
        <br>
        <br>
        <div class="row">
            <div class="col m7 s12">
                <h2>Get Checked. <br> Stay Healthy. <br> Take Control Today...</h2>
                <p class="flow-text">You are unique. So is our diagnosis. We detect and diagnose your health risk
                    early and help you stay healthy.</p>
                <a href="/signup" class="btn-large red darken-4">GET STARTED</a>
            </div>
        </div>
    </section>
</header>
<br>

{%endblock%}
