{% extends 'base.html' %}
{% load staticfiles %}
{%block body%}

<header id="header">
    <section class="section container">
        <br>
        <br>
        <div class="row">
            <div class="col m7 s12">
                <h2>Give blood.</h2>
                <p class="flow-text">Register today. Become a blood donor.</p>
                <a href="/signup" class="btn-large red darken-4">Signup as a Receiver</a>
                <a href="/s_hospital" class="btn-large red darken-4">Signup as a Hospital</a>
            </div>
        </div>
    </section>
</header>
<br>

{%endblock%}
